/* DEMOCLARITY CSS */

body{
margin:0;
padding:0;
line-height: 1.1em;
background: #e0e0e0 url(../images/headergradient3.png) top left repeat-x;
font-family: helvetica, arial, sans-serif;
}

.clear {
clear: both;
}

#maincontainer{
width: 980px; /*Width of main container*/
margin: auto; /*Center container on page*/
background: transparent;
}


.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

#topsection{
background: transparent url(../images/logosmallerwhite.png) top left no-repeat;
height: 124px; /*Height of top section*/
margin-top: 0px;
margin-left: 0px;
}

#contentwrapper{
float: left;
width: 100%;
margin-top: 0px;
}

#contentcolumn{
margin-left: 420px; /*Set left margin to LeftColumnWidth*/
}

.newsitem, .billstatus {
margin: 20px;
width: 516px;
background: #fff ;
border: 2px solid #d2d2d2;
}

.billstatus {
background:  #d2d2d2;
border: 2px solid  #1a5396;
}

#leftcolumn{
float: left;
width: 409px; /*Width of left column*/
margin-left: -976px; /*Set left margin to -(MainContainerWidth)*/
background: #fff;
border: 4px solid #035ea5;
#border-right: 4px solid #035ea5;
#border-bottom: 4px solid #035ea5;
margin-top: 120px;
padding-top: 0px;
height: 100%;
}

#leftcolumnshell {float: left;
#width: 230px; /*Width of left column*/
#margin-left: -982px; /*Set left margin to -(MainContainerWidth)*/
#background: transparent url(../images/sidebarwhite2.png) top center no-repeat;
#padding-top: 220px;
#margin-top: 0px;
}

#pagetitle{
background: #ed493c;
margin: 20px;
width: 520px;
}

.adtop {
background: #144278 url(../images/actionitemtop.jpg) top left no-repeat;
color: #fff;
font-family: verdana;
font-style: italic;
font-size: 11px;
padding: 2px 8px;

}

#advertisement {
width: 720px;
margin-left: 20px;
margin-top: 10px;


}

#video {
position: relative;
float: right;
}

#commentbox {
border: thin solid #d2d2d2;
width: 590px;
height: 100px;
margin-bottom: 20px;
}

#footer{
clear: both;
width: 100%;
color: #FFF;
text-align: center;
padding: 4px 0;
background: #144278 url(../images/topstripes.jpg) top left repeat-x;
padding: 8px;
}

#footer a{
color: #FFF;
font-weight: bold;
}

/* TYPOGRAPHY */


#topsection h1{
display: none;
font-size: 80px;
margin: 0px;
padding-top: 45px;
color: #fff;
text-transform: uppercase;
}

h2, h3 {
color: #1a5396;
}

h4 {
color: #1a5396;
font-weight: bold;
font-size: 22px;
}

#pagetitle h2{
text-transform: uppercase;
font-weight: bold;
font-size: 26px;
color: white;
padding: 8px 12px;
line-height: 1.3em;
background: #ed493c;
#url(../images/pagetitletop.jpg) top left no-repeat;
}

.newsitem h2, h3, .billstatus h2, h3{
font-size: 22px;
color: #388fed;
font-family: georgia, garamond;
font-style: italic;
font-weight: bold;
border-bottom: 2px solid  #1a5396;
padding-bottom: 6px;
}

.newsitem, .billstatus p{
font-family: georgia;
}

#leftcolumn h3 {
color: #388fed;
}

#leftcolumn p {
font-family: trebuchet;
font-size: 14px;
line-height: 1em;
}

#leftcolumn p {
font-family: trebuchet;
font-size: 14px;
line-height: 1em;
}

/* STATUS LISTING TABLE */

div.status_listing table{
font-family: helvetica, arial; 
width: 696px;
}

table thead td { 
      color: white; 
      line-height: 22px;
      font-weight: bolder;
      background-color: #8a8a8a;
	  
} 

.navchilditem li {
background: #fff;
height: 100px;
}


table tbody td {
      font-size: 12px;
      line-height: 20px;  
}
div.status_listing td{ 
      padding: 0 4px;

}

td.stat_date { 
 width: 30px;
}

td.bill_number {
 width: 65px;
}

/* newstabs*/


.newstabs{
width: 100%;
overflow: hidden;
}

.newstabs ul{
margin: 0;
padding: 0;
padding-left: 10px; /*offset of tabs relative to browser left edge*/
font: bold 12px Verdana;
list-style-type: none;
}

.newstabs li{
display: inline;
margin: 0;
}

.newstabs li a{
float: right;
display: block;
text-decoration: none;
margin: 0;
padding: 7px 8px; /*padding inside each tab*/
border-right: 3px solid white; /*right divider between tabs*/
color: white;
background: #3089fc; /*background of tabs (default state)*/
}

.newstabs li a:visited{
color: white;
}

.newstabs li a:hover, .newstabs li.selected a{
background: #3abadd; /*background of tabs for hover state, plus tab with "selected" class assigned to its LI */
}

/* newstabs*/


.newstabs{
width: 100%;
overflow: hidden;
}

.statustabs ul{

margin: 0;

padding: 0;
padding-left: 10px; /*offset of tabs relative to browser left edge*/
font: bold 12px Verdana;
list-style-type: none;
}

.statustabs li{
display: inline;
margin: 0;
}

.statustabs li a{
float: right;
display: block;
text-decoration: none;
margin: 0;
padding: 7px 8px; /*padding inside each tab*/
border-right: 3px solid  #78c4dc; /*right divider between tabs*/
color: white;
background: #ff0000; /*background of tabs (default state)*/
}


.passed {
float: right;
display: block;
text-decoration: none;
margin: 0;
padding: 7px 8px; /*padding inside each tab*/
border-right: 3px solid  #78c4dc; /*right divider between tabs*/
color: white;
background: #009900; /*background of tabs (default state)*/
}

.message-item {
border-bottom: thin solid #d2d2d2;
}



/* sidebar bullet points */



#leftcolumn li {
list-style-image: url(../images/bullet.png);

color: #1a5396;
font-weight: bold;
font-family: trebuchet;
font-size: 16px;
margin-left: -14px;
}

#leftcolumn li a {
text-decoration: none;
color: #1a5396;
}


/* BUTTONS */


.vote_green {
background-color:#009900;
color:#FFFFFF;
font-size:11pt;

border-color:#00C800 #003F00 #003F00 #00C800;
border-style:solid;
border-width:2px;
cursor:pointer;
padding:5px 10px;
}

.vote_red {
background-color:#E80000;
border-color:#C80000 #5F0000 #5F0000 #C80000;
border-style:solid;
border-width:2px;
color:#FFFFFF;
cursor:pointer;
font-size:11pt;
padding:5px 10px;
}

.vote_blue{
margin: 10px 0;
background-color:#0E83A9;
border-color:#0E83C8 #1E835F #1E835F #0E83C8;
border-style:solid;
border-width:2px;
color:#FFFFFF;
cursor:pointer;
font-size:11pt;
padding:5px 10px;

}
 
}
.vote_red, .vote_green { 
  margin: 0 10px;

}


.moreissues {
margin-bottom: 20px;
}
